# Dependency directories
node_modules/
**/node_modules/

# Production build outputs
dist/
**/dist/

# Environment files / API secrets
.env
.env*.local
**/.env
**/.env*.local

# Logs and runtime databases
*.log
**/logs/
server/data/messages.json

# IDEs & System files
.vscode/
.idea/
.DS_Store
Thumbs.db

.vercel
